body 
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    color: #696969;
}

/* Master Page */

#header
{
    vertical-align: middle;
}

#title
{
    text-align: center;
}    

#login
{
    text-align:right;
}

#middleRow
{
    vertical-align: top;
}

#advert
{
    width: 100px;
}

#footer
{
    font-size: xx-small;
}

.message
{
    color: Red;
}

/* Links */

a:link, a:visited
{
    color: #034af3;
    text-align: right;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

/* Headings */

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

